# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
# importing pandas, datasets and initial investigation of data
import pandas as pd

url_1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
url_2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
url_3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'

customer_data_1 = pd.read_csv(url_1)
customer_data_2 = pd.read_csv(url_2)
customer_data_3 = pd.read_csv(url_3)

print(customer_data_1.columns)
print(customer_data_2.columns)
print(customer_data_3.columns)

print(customer_data_1.shape)
print(customer_data_2.shape)
print(customer_data_3.shape)

"""
Observation: all 3 datasets have the same columns but in different order.
customer_data_1 and customer_data_2 column is named "ST" where as customer_data_3 is named "State"
"""

customer_data_1.head()

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')
Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')
(4008, 11)
(996, 11)
(7070, 11)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [2]:
#Defining functions

def format_column_names(data_frame, column_name_mapping = {}):
    '''
    Format column names in a DataFrame based on a provided mapping.
    
    Parameters:
    data_frame: The DataFrame to format.
    column_mapping (dict): A dictionary containing old column names as keys and new names as values.
    
    Returns:
    None (modifies the DataFrame in place).
    '''
    # Perform additional formatting (lowercase and replace spaces with underscores)
    data_frame.columns = [name.replace(" ", "_").lower() for name in data_frame.columns]
    
    # Iterate through the provided column_name_mapping dictionary
    for old_name, new_name in column_name_mapping.items():
        # Check if the old column name exists in the DataFrame
        if old_name in data_frame.columns:
            # Rename the column with the new name
            data_frame.rename(columns={old_name: new_name}, inplace=True)
    
   

def format_gender_column(column):
    '''
    Gender column contains various inconsistent values such as 
    "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".
    '''
    column = column.str.lower()
    formatted_gender_column = column.replace({'male': 'm', 'female': 'f','femal':'f'})
    return formatted_gender_column

def format_state_column(column):
    '''
    State abbreviations be can replaced with its full name, for example
    "AZ": "Arizona", "Cali": "California", "WA": "Washington"
    '''
    formatted_state_column = column.replace({'AZ': 'Arizona', 'Cali': 'California','WA':'Washington'})
    return formatted_state_column

def format_education_column(column):
    '''
    "Bachelors" to be replaced by "Bachelor
    '''
    formatted_education_column = column.replace({'Bachelors': 'Bachelor'})
    return formatted_education_column

def remove_percentage_sign(column):
    '''
    removes percentage sign from all data in column and concerts all data to float
    '''
    import pandas as pd
    column_percentage_sign_removed = column.apply(lambda value: pd.to_numeric(value.strip("%") if type(value) == str else value))
    return column_percentage_sign_removed
    
def format_vehicle_class_column(column):
    '''
    in vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"
    '''
    formatted_vehicle_class_column = column.replace(["Sports Car", "Luxury SUV", "Luxury Car"], "Luxury")
    return formatted_vehicle_class_column

In [3]:
#formatting column names before merging dataframes
column_name_mapping = {"st":"state"}

format_column_names(customer_data_1, column_name_mapping)
format_column_names(customer_data_2, column_name_mapping)
format_column_names(customer_data_3, column_name_mapping)




customer_data_1.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [4]:
#Combining the datasets
customer_data_1_2 = pd.concat([customer_data_1, customer_data_2])
customer_data_1_2_3 = pd.concat([customer_data_1, customer_data_3])

customer_data_1_2_3.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [5]:
#unique gender values before formatting
customer_data_1_2_3["gender"].unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [6]:
#formatting gender
customer_data_1_2_3['gender'] = format_gender_column(customer_data_1_2_3['gender'])

#unique gender values after formatting
customer_data_1_2_3["gender"].unique()

array([nan, 'f', 'm'], dtype=object)

In [7]:
#unique state values before formatting
customer_data_1_2_3['state'].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [8]:
#formatting gender
customer_data_1_2_3['state'] = format_state_column(customer_data_1_2_3['state'])

#unique state values after formatting
customer_data_1_2_3['state'].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', nan],
      dtype=object)

In [9]:
#unique education values before formatting
customer_data_1_2_3['education'].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

In [10]:
customer_data_1_2_3['education'] = format_education_column(customer_data_1_2_3['education'])

#unique education values after formatting
customer_data_1_2_3['education'].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College', 'Doctor',
       nan], dtype=object)

In [11]:
#customer_lifetime_values before formating
customer_data_1_2_3['customer_lifetime_value']

0               NaN
1        697953.59%
2       1288743.17%
3        764586.18%
4        536307.65%
           ...
7065    23405.98798
7066    3096.511217
7067    8163.890428
7068    7524.442436
7069    2611.836866
Name: customer_lifetime_value, Length: 11078, dtype: object

In [12]:
#formatting customer_lifetime_values
customer_data_1_2_3['customer_lifetime_value'] = remove_percentage_sign(customer_data_1_2_3['customer_lifetime_value'])

#customer_lifetime_values after formating
customer_data_1_2_3['customer_lifetime_value']

0                NaN
1       6.979536e+05
2       1.288743e+06
3       7.645862e+05
4       5.363077e+05
            ...
7065    2.340599e+04
7066    3.096511e+03
7067    8.163890e+03
7068    7.524442e+03
7069    2.611837e+03
Name: customer_lifetime_value, Length: 11078, dtype: float64

In [13]:
#unique vehicle_class values before formatting
customer_data_1_2_3['vehicle_class'].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car', nan], dtype=object)

In [14]:
#formatting vehicle_class
customer_data_1_2_3['vehicle_class'] = format_vehicle_class_column(customer_data_1_2_3['vehicle_class'])

In [15]:
#unique vehicle_class values after formatting
customer_data_1_2_3['vehicle_class'].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury', nan],
      dtype=object)

In [16]:
#Customer lifetime value should be numeric
customer_data_1_2_3["customer_lifetime_value"] = customer_data_1_2_3["customer_lifetime_value"].astype(float)
customer_data_1_2_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11078 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   8141 non-null   object
 1   state                      8141 non-null   object
 2   gender                     8024 non-null   object
 3   education                  8141 non-null   object
 4   customer_lifetime_value    8138 non-null   float64
 5   income                     8141 non-null   float64
 6   monthly_premium_auto       8141 non-null   float64
 7   number_of_open_complaints  8141 non-null   object
 8   policy_type                8141 non-null   object
 9   vehicle_class              8141 non-null   object
 10  total_claim_amount         8141 non-null   float64
dtypes: float64(4), object(7)
memory usage: 1.0+ MB

In [17]:
customer_data_1_2_3["number_of_open_complaints"] = customer_data_1_2_3["number_of_open_complaints"].apply(lambda x : pd.to_numeric(x.split("/")[1]) if type(x) == str else x)

print(customer_data_1_2_3["number_of_open_complaints"].unique())
customer_data_1_2_3["number_of_open_complaints"].info()

[ 0.  2.  1.  3.  5.  4. nan]
<class 'pandas.core.series.Series'>
Index: 11078 entries, 0 to 7069
Series name: number_of_open_complaints
Non-Null Count  Dtype
--------------  -----
8141 non-null   float64
dtypes: float64(1)
memory usage: 173.1 KB

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [21]:
#importing datasets and initial investigation of data

url_4 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'

customer_data_4 = pd.read_csv(url_4)


print(customer_data_4.shape)
print(customer_data_4.dtypes)
customer_data_4.head()

(10910, 27)
unnamed:_0                         int64
customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim          float64
months_since_policy_inception      int64
number_of_open_complaints        float64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
vehicle_type                      object
month                              int64
dtype: object

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [28]:
pivot_df = customer_data_4.pivot_table(index='sales_channel', values = ['monthly_premium_auto' x number of month customer has been paying(effective_to_date - policy)]), aggfunc =

TypeError: unhashable type: 'list'

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [29]:
round(customer_data_4.groupby('sales_channel')[['monthly_premium_auto']].sum(), 2)

TypeError: can't multiply sequence by non-int of type 'str'

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [30]:
pivot_customer_data_4 = customer_data_4.pivot_table(index ='gender', columns='education', values = 'customer_lifetime_value')
pivot_customer_data_4

education,Bachelor,College,Doctor,High School or Below,Master
gender,,,,,
F,7874.269478,7748.823325,7328.508916,8675.220201,8157.053154
M,7703.601675,8052.459288,7415.333638,8149.687783,8168.832659

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here